@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: "Crimson Text", "EB Garamond", Georgia, serif;
    padding: 0;
    font-size: 16px;
}

a,
a:link {
    color:rgb(220, 200, 156);
}

a:visited {
    color: rgb(191, 143, 159)
}

a:hover {
    color:rgb(156, 98, 170)
}

a:active {
    color: rgb(152, 199, 244)
}

h1{
    font-family: "Bebas Neue", "Oswald", Arial, sans-serif;
    font-weight: 600;
    font-size: 55px;
}

h2{
    font-family: "Bebas Neue", Arial, sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}

h3{
    font-family: "Bebas Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 0;
}


header {
    background-color: rgb(77, 109, 172);
    color: white;
    text-align: center;
    padding: 20px;
}

img{
    border: 1px solid #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(77, 109, 172);
}

nav ul li {
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

article {
    margin-top: 20px;
}

footer {
    bottom: 0;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px 0px;
}